<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Categories</h1>

      <ul class="list-group">
        <% categories.forEach((category) => { %>
          <li class="list-group-item">
            <a href="/categories/<%= category.id %>"> <%= category.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
