<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1 align="center">Welcome to Counterpoint!</h1>

      <h2 align="center">Sign up to become a member.</h1>

      <h2>Members have the ability to:</h1>
      <ul>
        <li>Upload videos</li>
        <li>Create new topics</li>
        <li>Vote on debates</li>
        <li>Add comments on videos</li>
      </ul>
      <h2>Use the sign up form below to create a new account</h1>

      <form action="/users" method="post">

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small class="text-muted" id="emailHelp">email address must be a valid address</small>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
          <small class="text-muted" id="passwordHelp">password must match confirmation below</small>
        </div>

        <div class="form-group">
          <label for="passwordConfirmation">Password confirmation</label>
          <input type="password" class="form-control" name="passwordConfirmation" aria-describedby="passwordHelp" placeholder="Enter password confirmation">
        </div>

        <button type="submit" class="btn btn-primary">Sign up</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
